.App {
  text-align: center;
}
.ui.menu{
  color: fade(#eb6510, 80%);
  background: black ;
}

form {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input,
select,
textarea,
button {
  margin: 0 0 10px 0;
  padding: 7px;
}